@{
    Layout = "~/Views/Shared/Customer_Layout.cshtml";
}



@model Model.MecidineModel

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnBack').click(function () {
            debugger;
           
            $('#frmHome').submit();
        });
    });
    
</script>
<form method="post" action="~/Mecidine/Index" id="frmHome"> </form>
<div>
    <div class="fl col-md-12">
        <div class="portlet-body">

            <h3 class="page-title">View Mecidine</h3>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<br />
<div class="clearfix"></div>

<div class="row">
    <div class="col-sm-12">
        <div id="dvSccessFail">
            @Html.Partial("_SuccessFail")
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="" class="row clearfix">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="required">Mecidine ID</label>
                            @Html.TextBoxFor(m => m.MEDID, new { @class = "form-control", @readonly = "true" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="required">Mecidine Name</label>
                            @Html.TextBoxFor(m => m.MEDName, new { @class = "form-control", @readonly = "true" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="required">Mecidine Price</label>
                            @Html.TextBoxFor(m => m.MEDPrice, new { @class = "form-control", @readonly = "true" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="required">Quantity</label>
                            @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", @readonly = "true" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="required">IsAvailable</label>
                            @Html.TextBoxFor(m => m.IsAvailable, new { @class = "form-control", @readonly = "true" })
                        </div>
                    </div>
                 
                </div>
                  <br />
                    <table>
                        <tr>
                            <td>
                                <a id="btnBack"  class="btn btn-skin btn-block">Back</a>
                            </td>
                        </tr>
                    </table>
            </div>
        </div>
    </div>
</div>
